/* importing font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* global css start */
:root {
  --blue: #2500f9;
  --dark-blue: #370095;
  --prussian-blue: #242f51;
  --orange-red: #f55767;
  --royale-blue: #2563ff;
  --green: #40975f;
  --medium-grey: #616368;
}
* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
body {
  color: var(--prussian-blue);
}
h1, h2, h3, h4, h5, h6 {
  color: inherit;
}
p {
  color: var(--medium-grey);
}
li { 
  list-style-type: none; 
} 
a { 
  text-decoration: none; 
}
.blue-button {
  background-color: var(--blue);
  font-size: 16px;
  font-weight: 700;
  border-radius: 35px;
  width: 200px;
  outline: none;
  border: none;
  padding: 16px 24px;
  color: white;
  transition: 0.25s;
  flex-shrink: 0;
  letter-spacing: 1px;
}
.blue-button:hover {
  background-color: var(--dark-blue);
}
.feature-1 .icon, 
.feature-5 .icon {
  display: flex;
  justify-content: center;
  align-self: center;
}
.icon div {
  display: flex;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
.icon div img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin: auto;
}
.common h5 {
  font-size: 20px;
  font-weight: 600;
}
.common p {
  font-size: 16px;
  color: var(--medium-grey);
}
/* header section css starts here  */

.banner {
  padding-top: 40px;
  background-color: #fdfdfd;
  background: url(../img/banner.png) no-repeat bottom;
  background-size: contain;
}
.navbar-brand {
  font-size: 30px;
  font-weight: 700;
  color: white;
}
.navbar-brand span {
  color: #fcae61;
}
.banner a {
  color: inherit;
}
.banner .navbar-toggler-icon {
  color: var(--blue);
}
.banner .nav-link {
  margin-left: 30px;
  transition: 0.2s;
}
.banner .nav-link:hover {
  color: var(--dark-blue);
}
.banner .navbar button {
  margin-left: 40px;
}
.banner .content .row .col-md-7 {
  padding-left: 80px;
}
.banner .content .row .col-md-7 .top {
  background-color: #e2eaed;
  border-radius: 36px;
  width: max-content;
  padding-right: 48px;
  font-size: 18px;
}
.banner .content .row .col-md-7 .top i {
  width: 36px;
  text-align: center;
  background-color: #feaa25;
  height: 36px;
  border-radius: 50%;
  line-height: 36px;
  margin-right: 16px;
}
.banner .content .row .col-md-7 h1 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  margin: 20px 0;
}
.banner .content .row .col-md-7 > p {
  font-size: 18px;
  line-height: 28px;
  color: #616368;
  margin-bottom: 40px;
}
.banner .content .col-md-7 div a {
  color: var(--blue);
  margin-left: 30px;
  transition: 200ms;
}
.banner .content .col-md-7 div a:hover {
  color: var(--dark-blue);
}
/* company section  */
.companies {
  padding: 80px 0 0px;
}
.companies .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 240px;
}
.item img {
  width: auto !important;
}
.owl-dots, .companies .owl-nav {
  display: none !important;
}
/* features section */
/* feature-1 */
.feature-1 {
  padding: 100px 0;
}
.feature-1 .col-xl-6 img {
  margin-left: -110px;
}
.feature-1 .col-xl-5 {
  padding: 80px 20px 0px;
}
.feature-1 .col-xl-5 h2 {
  font-size: 36px;
  line-height: 58px;
  color: var(--prussian-blue);
  font-weight: 600;
}
.feature-1 .col-xl-5 > p {
  font-size: 16px;
  color: var(--medium-grey);
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 60px;
}
.feature-1 .col-xl-5 .common {
  margin-bottom: 20px;
}
.feature-1 .col-xl-5 .common h5 {
  margin-top: 25px;
}
.feature-1 .col-xl-5 .row:nth-child(3) h5 {
  color: var(--orange-red);
}
.feature-1 .col-xl-5 .row:nth-child(4) h5 {
  color: var(--royale-blue);
}
.feature-1 .col-xl-5 .row:nth-child(5) h5 {
  color: var(--green);
}
.feature-1 .col-xl-5 .row:nth-child(3) .icon div {
  background-color: rgba(245, 87, 103, 0.15);
}
.feature-1 .col-xl-5 .row:nth-child(4) .icon div {
  background-color: rgba(37, 99, 255, 0.15);
}

.feature-1 .col-xl-5 .row:nth-child(5) .icon div {
  background-color: rgba(64, 151, 95, 0.15);
}
/* feature-2 */
.feature-2 {
  margin-bottom: 100px;
}
.feature-2 .col-md-6 h2 {
  padding: 0 80px;
  border-right: 1px solid #bbbbbb;
}
.feature-2 .col-md-6:nth-child(2) {
  display: flex;
  justify-content: center;
  align-self: center;
}
.feature-2 .col-md-6 p {
  padding: 0 50px;
}
/* feature-3 */
.feature-3 {
  padding-bottom: 100px;
}
.feature-3 .col-md-4 {
  padding-right: 80px;
}
.feature-3 .col-md-4 .icon {
  margin-bottom: 40px;
}
.feature-3 .col-md-4:nth-child(1) .icon div {
  background-color: rgba(245, 87, 103, 0.15);
}
.feature-3 .col-md-4:nth-child(2) .icon div {
  background-color: rgb(37, 99, 255, 0.15);
}
.feature-3 .col-md-4:nth-child(3) .icon div {
  background-color: rgb(64, 151, 95, 0.15);
}
/* feature-4 */
.feature-4 {
  padding-bottom: 70px;
}
.feature-4 .col-md-6 img {
  margin-left: -70px;
}
.feature-4 .col-md-4 p {
  margin: 24px 0 36px;
}
/* feature-5 */
.feature-5 {
  padding: 80px 0;
  border-top: 1px solid #f4f4f4;
}
.feature-5 .container > h2 {
  width: min(400px, 80%);
  margin: 0 auto 40px auto;
}
.feature-5 .container > p {
  width: min(650px, 80%);
  margin: 0 auto 80px auto;
}
.feature-5 .icon {
  margin-bottom: 30px;
}
.feature-5 .row {
  margin-bottom: 40px;
}
.feature-5 .col-md-4 {
  padding: 0 40px;
}
.feature-5 .row:nth-child(3) .col-md-4:nth-child(1) .icon > div {
  background-color: rgb(255, 240, 245);
}
.feature-5 .row:nth-child(3) .col-md-4:nth-child(2) .icon > div {
  background-color: rgb(235, 250, 255);
}
.feature-5 .row:nth-child(3) .col-md-4:nth-child(3) .icon > div {
  background-color: rgb(255, 245, 215);
}
.feature-5 .row:nth-child(4) .col-md-4:nth-child(1) .icon > div {
  background-color: rgb(240, 255, 245);
}
.feature-5 .row:nth-child(4) .col-md-4:nth-child(2) .icon > div {
  background-color: rgb(245, 245, 255);
}
.feature-5 .row:nth-child(4) .col-md-4:nth-child(3) .icon > div {
  background-color: rgb(255, 245, 245);
}
/* feature-6 */
.feature-6 {
  padding: 80px 0;
  overflow: hidden;
}
.feature-6 .col-md-5 img {
  width: 150%;
  margin-left: -40px;
  margin-top: 60px;
}
.feature-6 .col-md-7 h2 {
  width: min(350px, 80%);
  font-weight: 600;
}
.feature-6 .col-md-7 > p {
  width: min(450px, 80%);
  margin-bottom: 60px;
}
.feature-6 .col-md-7 > .row {
  margin-bottom: 40px;
}
.feature-6 .col-md-6 {
  padding: 0 40px 0px;
}
.feature-6 .col-md-7 .row:nth-child(3) .col-md-6:nth-child(1) .icon > div {
  background-color: rgb(255, 240, 245);
  margin-bottom: 20px;
}
.feature-6 .col-md-7 .row:nth-child(3) .col-md-6:nth-child(2) .icon > div {
  background-color: rgb(240, 255, 245);
  margin-bottom: 20px;
}
.feature-6 .col-md-7 .row:nth-child(4) .col-md-6:nth-child(1) .icon > div {
  background-color: rgb(255, 245, 215);
  margin-bottom: 20px;
}
.feature-6 .col-md-7 .row:nth-child(4) .col-md-6:nth-child(2) .icon > div {
  background-color: rgb(245, 245, 255);
  margin-bottom: 20px;
}
/* pricing section */
.pricing {
  border-bottom: 1px solid #f4f4f4;
}
.pricing .col-md-8 > h2 {
  width: min(600px, 80%);
  margin: 0 auto 30px auto;
  font-size: 36px;
}
.pricing .col-md-8 > p {
  width: min(600px, 80%);
  margin: 0 auto;
  margin-bottom: 80px;
}
.pricing .tabs .nav button {
  display: inline-block;
  color: var(--medium-grey);
  padding: 16px 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 150px;
  font-weight: 500;
}
.pricing .tabs {
  overflow: hidden;
  padding: 0px 40px 70px 40px;
}
.pricing .tabs .nav button.active {
  background-color: var(--blue);
  color: white;
}
.pricing .tabs .nav button.active:hover {
  color: white;
}
.pricing .tabs .nav button:hover {
  color: var(--prussian-blue);
}
.pricing .tabs .content .left > div ,
.pricing .tabs .content .right > div {
  border-radius: 10px;
  box-shadow: 0px 0px 0px 2px #ebebeb;
  transition: 0.3s;
  overflow: hidden;
  padding-bottom: 30px;
}
.pricing .tabs .content .active >div {
  box-shadow: 5px 40px 60px rgba(0, 0, 0, 0.1);
}
.pricing .tabs .content .top {
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(244,247,250,1) 100%); 
  padding-top: 50px;
  padding-bottom: 30px;
}
.pricing .tabs .content .top h4 {
  font-size: 18px;
  color: var(--medium-grey);
}
.pricing .tabs .content .top h4 span {
  color: var(--prussian-blue);
  font-size: 60px;
}
.pricing .tabs .content .top h5 {
  font-size: 20px;
  font-weight: 600;
}
.pricing .tabs .content .top p {
  font-weight: 500;
}
.pricing .tabs .content .bottom {
  padding-top: 40px;
}
.pricing .tabs .content .bottom p {
  margin-bottom: 30px;
}
.pricing .tabs .content .bottom button {
  margin-top: 10px;
}
.pricing .tabs .content .bottom p:last-child  {
  margin-top: 20px;
  margin-bottom: 0;
}
.pricing .tabs .content .bottom p:last-child a {
  color: var(--blue);
}
/* testimonial section */
.testimonial {
  padding: 80px 0;
}
.testimonial .row .col-md-6:nth-child(1) img {
  width: 130%;
  margin-left: -20%;
}
.testimonial .row .col-md-6:nth-child(2) > h2 {
  font-size: 40px;
  width: 90%;
  margin-bottom: 40px;
}
.testimonial .row .col-md-6:nth-child(2) .item {
  margin-top: 20px;
}
.testimonial .row .col-md-6:nth-child(2) .item i {
  color: #ffcc00;
  margin-bottom: 25px;
}
.testimonial .row .col-md-6:nth-child(2) .item h5 {
  margin-bottom: 20px;

}
.testimonial .row .col-md-6:nth-child(2) .item > p {
  margin-bottom: 50px;
}
.carousel-2 {
  position: relative;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav {
  display: inline-block;
  width: 120px;
  position: absolute;
  bottom: 30px;
  right: 0;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav::before {
  content: '';
  width: 1px;
  height: 1rem;
  background-color: #cccccc;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav button {
  outline: none;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav button:first-child {
  padding-right: 5px !important;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav button:last-child {
  padding-left: 5px !important;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav button:hover {
  background-color: transparent;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav span {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 38px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transition: 0.3s;
}
.testimonial .row .col-md-6:nth-child(2) .owl-nav span:hover {
  background-color: #EFF3F8;
  border-color: transparent;
  color: var(--blue);
}
/* faq section */
.faq {
  padding: 80px 0;
}
.faq .row .col-md-8 > p {
  width: 85%;
  margin: 30px auto 0 auto;
}
.faq .accordion {
  margin-top: 60px;
}
.faq .accordion-item {
  margin-bottom: 10px;
  background-color: #e8ebf1;
}
.faq .accordion-button {
  background-color: #e8ebf1;
  border: none;
  font-size: 20px;
  font-weight: 600;
  color:var(--prussian-blue);
}
.faq .accordion-button:focus, 
.faq .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.faq .accordion-button::after {
  background-image: none;
  content: '+';
}
.faq .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: '-';
}
/* app section */
.app {
  padding-top: 40px;
}
.app .col-md-7 {
  margin-top: -26px;
}
.app h1 {
  font-size: 48px;
  font-weight: 600;
}
.app .appbtn {
  background-color: black;
  border-radius: 8px;
  margin-right: 30px;
  margin-top: 40px;
  align-items: center;
  cursor: pointer;
  color: white;
  padding-right: 10px;
}
.app .appbtn i {
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 40px;
}
.app .appbtn p {
  color: white;
  margin-top: 5px;
  margin-bottom: 0;
}
.app .appbtn h3 {
  font-size: 24px;
}
.app .col-md-5 img {
  margin-left: min(-160px, 40%);
  margin-top: -70px;
  position: relative;
  width: 700px;
}
/* footer section */
footer {
  margin-top: -51px;
  background-color: var(--prussian-blue);
}
footer .navbar-brand {
  margin-top: 20px;
}
footer ul {
  margin: 0;
  padding: 0;
}
footer ul:nth-child(2) li {
  padding: 20px;
}
footer ul:nth-child(2) li a {
  color: white;
}
footer ul:nth-child(3) li {
  padding: 10px;
  margin: 10px 20px 20px 20px;
  font-size: 24px;
  margin-bottom: 40px;
}
footer ul:nth-child(3) li:hover i {
  color: white;
}
footer ul:nth-child(3) li a {
  color: var(--medium-grey);
}